<!-- CSS FOR THIS SECTION IS FOUND IN ASSETS/STYLESHEETS/DASHBOARD/INDEX.SCSS -->
<div class="wrapper">
  <div class="container">
    <div class="title">
      <h3> My bookings </h3>
    </div>
    <div class="body">
      <div class="row row-bookings">
        <% @bookings.each do |booking| %>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div class="card">
          <div class="card-picture">
            <%= image_tag "#{booking.item.photo}" %>
            <div class="card-description">
              <p> <%=booking.item.name %> </p>
              <p> <%=booking.pick_time %> </p>
              <p> <%=booking.return_time %> </p>
            </div>
          </div>
          <div class="card-footer">
          </div>
        </div>
        <% end %>
      </div>
    </div>

      <div class="title">
        <h3> My Rentals </h3>
      </div>
      <div class="card-container">
        <div class="row row-rentals">
          <% @rentals.each do |rental| %>
          <div class="col-xs-12 col-sm-4">
            <%= image_tag "#{rental.photo}" %>
              <div class="card-body">
                <div class="card-title">
                  <h5> <%=rental.name %> </h5>
                </div>
                <div class="card-text">
                </div>
                <div class="card-footer">
                </div>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>

      <div class="title">
        <h3> My Items </h3>
      </div>
      <div class="card-container">
        <div class="row row-items">
          <% @user_items.each do |item| %>
          <div class="col-xs-12 col-sm-4">
            <%= image_tag "#{item.photo}" %>
              <div class="card-body">
                <div class="card-title">
                  <h5> <%=item.name %> </h5>
                </div>
                <div class="card-text">
                  <p> <%=item.description %> </p>
                  <p> <%=item.price %> </p>
                </div>
                <div class="card-footer">
                </div>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
