<div class="wrapper">
  <div class="container">
    <div class="title">
      <h3> My bookings </h3>
    </div>
    <div class="body">
      <div class="row row-bookings">
        <% @bookings.each do |booking| %>
        <div class="col-xs-12 col-sm-4">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= booking.item.photo? ? cl_image_path(booking.item.photo, height: 300, width: 400, crop: :fill) : 'http://placeholder.it' ; %>');">
            <div class="card-description">
              <p> <%=booking.item.name %> </p>
              <p> <%=booking.pick_time %> </p>
              <p> <%=booking.return_time %> </p>
            </div>
          </div>
          <div class="card-footer">
          </div>
        </div>
        <% end %>
      </div>
      <div class="title">
        <h3> My Rentals </h3>
      </div>
      <div class="card-container">
        <div class="row row-rentals">
          <% @bookings.each do |booking| %>
          <div class="col-xs-12 col-sm-4">
            <div class="card-img-top card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= booking.item.photo? ? cl_image_path(booking.item.photo, height: 300, width: 400, crop: :fill) : 'http://placeholder.it' ; %>');">
              <div class="card-body">
                <div class="card-title">
                  <h5> <%=booking.item.name %> </h5>
                </div>
                <div class="card-text">
                  <p> <%=booking.pick_time %> </p>
                  <p> <%=booking.return_time %> </p>
                </div>
                <div class="card-footer">
                </div>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
