<div class="form-box">
  <div class="container-sign-up">


    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
     <%= image_tag("logo2-01.png", id: "logo") %>
     <h1>Sign up</h1>
     <div class="row form-container">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <%= f.input :username, required: true, autofocus: true %>
        <%= f.input :email, required: true, autofocus: true %>
        <%= f.input :first_name, required: true, autofocus: true %>
        <%= f.input :last_name, required: true, autofocus: true %>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <%= f.input :address, required: true, autofocus: true %>
        <%= f.input :password, required: true, placeholder: "6 characters minimum" %>
        <%= f.input :password_confirmation, required: true %>
          <%= f.input :avatar, autofocus: true %>
      </div>

      </div>
    </div>

    <div class="form-actions" style="text-align: center">
      <%= f.button :submit, "Sign up", :id => "button" %>
    </div>
    <% end %>
  </div>
</div>
