
<div class="container">
  <div class="row">
<% @bookings.each do |booking| %>
  <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= booking.item.photo? ? cl_image_path(booking.item.photo, height: 300, width: 400, crop: :fill) : 'http://placeholder.it' ; %>');">
        <div class="card-description">
         <p> <%=booking.item.name %> </p>
        <p> <%=booking.pick_time %> </p>
        <p> <%=booking.return_time %> </p>
      </div>
    </div>
    <div class="card-footer">
      <small class="text-muted">  <%= link_to "Back", items_path %>  </small>
    </div>
  </div>
  <% end %>
   </div>
</div>
</div>
