<%= link_to "Log in",  user_session_path %> <br>
<%= link_to "Sign up",  new_user_registration_path %>

<%= simple_form_for [@item, @booking] do |f| %>
  <div>
    <div class="container">
      <div class="row">
        <div class='col-sm-6'>
          <div class="form-group">
            <div class='input-group date' id='datetimepicker1'>
              <%= f.input :pick_time, as: :string %>
              <%= f.input :return_time, as: :string %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class = "submit"> <%= f.submit %> </div>
<% end %>
