    <div class="card">
      <!-- <img class="card-img-top card-image" src="#{item.photo}"   alt="Card image cap"> -->
      <%= image_tag "#{item.photo}" %>
      <div class="card-body">
        <h5 class="card-title"><%= link_to item.name, item_path(item)%></h5>
        <p class="card-text"><%= item.description%></p>
      </div>
      <div class="card-footer flexbox">
        <!-- <small class="text-muted">Last updated 3 mins ago</small> -->
        <div class="flex-item">
          <p>Location: <%= item.user.address %></p>
        </div>
        <div class="flex-item">
          <p>Price: $<%= item.price %></p>
        </div>
      </div>
    </div>
