<div class="form-box">
  <div class="container-sign-up">
    <div class="form-inputs">
      <%= image_tag("logo2-01.png", id: "logo") %>
      <h1>Log in</h1
        <div class="row form-container">

          <div class="col-xs-12">

            <div class="form-card" style="text-align:center;">
              <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="form-inputs login_form">
                <%= f.input :email, required: false, autofocus: true%>
                <%= f.input :password, required: false %>
              </div>

              <div class="form-actions" style="text-align: center; margin-top: 40px">
                <%= f.button :submit, "Sign up", :id => "button" %>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
