
<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <img src="https://fillmurray.com/200/200" alt="">
    </div>
    <div class="col-xs-6">
      <img src="https://eoimages.gsfc.nasa.gov/images/imagerecords/57000/57723/globe_west_2048.jpg" style="width:200px">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <h3>Item Description</h3>
      <%= @item.description %>
    </div>
    <div class="col-xs-6">
      <%= simple_form_for [@item, @booking] do |f| %>
        <div>

          <div class="container">
            <div class="row">
              <div class='col-sm-6'>
                <div class="form-group">
                  <div class='input-group date' id='datetimepicker1'>
                    <%= f.input :pick_time, as: :string %>
                    <%= f.input :return_time, as: :string %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class = "submit"> <%= f.submit %> </div>
      <% end %>
    </div>
  </div>
</div>
