<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TODO</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%# stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <!-- SIGN UP - LOG IN - SIGN OUT  -->

<% if user_signed_in? %>

  <div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <img src="images/logo.png" alt="logo">
  </a>

  <!-- Right Navigation -->
        <div class="navbar-wagon-right hidden-xs hidden-sm">
         <span class="navbar-wagon-item navbar-wagon-link"> <%= link_to current_user.username.capitalize,bookings_path %> </span>
         <span class="navbar-wagon-item navbar-wagon-link"><%= link_to "Log out", destroy_user_session_path, :method => :delete %> </span>
         <span class="navbar-wagon-item navbar-wagon-link"> <%= link_to "Cancel my account", user_registration_path, :method => :delete %> </span>

    <!-- Profile picture with dropdown list -->
    <!-- <div class="navbar-wagon-item">
      <div class="dropdown">
        <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Log Out</a></li>
        </ul>
      </div>
    </div> -->
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">

         <div class = "username"> <li> <%= current_user.username.capitalize %> </li> </div>
        <li> <%= link_to "Log out", destroy_user_session_path, :method => :delete %> </li>
        <li> <%= link_to "Cancel my account", user_registration_path, :method => :delete %> </li>
      </ul>
    </div>
  </div>
</div>


    <% else  %>
    <div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <img src="images/logo.png" alt="logo">
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

   <span class="navbar-wagon-item navbar-wagon-link"> <%= link_to "Log in",  user_session_path %> </span>
    <span class="navbar-wagon-item navbar-wagon-link"> <%= link_to "Sign up",  new_user_registration_path %> </span>

    <!-- Profile picture with dropdown list -->
   <!--  <div class="navbar-wagon-item">
      <div class="dropdown">
        <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Log Out</a></li>
        </ul>
      </div>
    </div> -->
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li> <%= link_to "Log in",  user_session_path %> </li>
        <li> <%= link_to "Sign up",  new_user_registration_path %> </li>
      </ul>
    </div>
  </div>
</div>

    <% end %>

    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
