<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TODO</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <%# stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <!-- SIGN UP - LOG IN - SIGN OUT  -->

<% if user_signed_in? %>

  <div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <img src="images/logo.png" alt="logo">
  </a>

<div class="navbar-wagon-right hidden-xs hidden-sm">
    <!-- Profile picture with dropdown list -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <img src="<%= cl_image_path current_user.avatar, height: 300, width: 400, crop: :fill %>" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
           <li> <span class="navbar-wagon-item navbar-wagon-link"><%= link_to "Log out", destroy_user_session_path, :method => :delete %> </span> </li>
            <li> <span class="navbar-wagon-item navbar-wagon-link"><%= link_to "Dashboard", bookings_path %> </span> </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">

        <li> <%= link_to "Log out", destroy_user_session_path, :method => :delete %> </li>
        <li> <%= link_to "Dashboard", bookings_path %>  </li>
      </ul>
    </div>
  </div>
</div>


    <% else  %>
    <div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <img src="" alt="logo">
  </a>
<div class="navbar-wagon-right hidden-xs hidden-sm">
    <!-- Profile picture with dropdown list -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <img src="https://vignette.wikia.nocookie.net/tumblr-survivor-athena/images/7/7a/Blank_Avatar.png/revision/latest/scale-to-width-down/477?cb=20161204161729" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li> <span class="navbar-wagon-item navbar-wagon-link"> <%= link_to "Log in",  user_session_path %> </span> </li>
    <li> <span class="navbar-wagon-item navbar-wagon-link"> <%= link_to "Sign up",  new_user_registration_path %> </span> </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li> <%= link_to "Log in",  user_session_path %> </li>
        <li> <%= link_to "Sign up",  new_user_registration_path %> </li>
      </ul>
    </div>
  </div>
</div>

    <% end %>

    <%= yield %>


    <footer class="footerr">
      <div class="container">
      <div class="footer">
        <div class="footer-links">
          <a href="#"> <i class="fab fa-github"> </i> </a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>
      <div class="footer-copyright">
        Double-Play
    </div>
  </div>
</div>
</footer>

    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>


  </body>
</html>
